.App {
  text-align: center;
  display: flex;
  background: linear-gradient(#13181d, #20212e, #341b47);
}
.titre {
  text-align: center;
}
.header {
  display: flex;
  color: #ffffff;
}
.tableau{
  display:flex;
  columns: ;
  }